<Page class="page">
    <Page.actionBar>
        <ActionBar class="action-bar" title="PokeApi">
        </ActionBar>
    </Page.actionBar>

    <StackLayout orientation="horizontal">

        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal" style="width: 60%;">
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.front_default}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.back_default}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.front_shiny}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.back_shiny}}></Image>
            </StackLayout>
        </ScrollView>

        <ScrollView>
            <StackLayout orientation="vertical">
                <label class="body" text="Name: {{pokemonDetail.species.name}}"></label>
                <label class="body" text="ID: {{pokemonDetail.id}}"></label>
                <label class="body" text="Base EXP: {{pokemonDetail.base_experience}}"></label>
                <label class="body" text="Height: {{pokemonDetail.height}}"></label>
                <label class="body" text="Weight: {{pokemonDetail.weight}}"></label>
                <label *ngFor="let stat of pokemonDetail.stats" text="{{stat.stat.name}} : {{stat.base_stat}} "></label>
                <label *ngFor="let type of pokemonDetail.types " class="body"
                    text="Type {{type.slot}}: {{type.type.name}}"></label>
            </StackLayout>
        </ScrollView>

    </StackLayout>

</Page>