<!--<Button text="pokemon works!" class="btn btn-primary"></Button>-->
<Page class="page">
    <Page.actionBar>
        <ActionBar class="action-bar" title="PokeApi">
        </ActionBar>
    </Page.actionBar>
    <!-- <ScrollView orientation="vertical"> -->
    <StackLayout orientation="horizontal">
        <StackLayout orientation="vertical">
            <label class="body" text="Name: {{pokemonDetail.species.name}}"></label>
            <label class="body" text="ID: {{pokemonDetail.id}}"></label>
            <label class="body" text="Base exp: {{pokemonDetail.base_experience}}"></label>
            <label class="body" text="Height: {{pokemonDetail.height}}"></label>
            <label class="body" text="Weight: {{pokemonDetail.weight}}"></label>
            <!-- <label *ngFor="pokemonDetail.stats" text="{{pokemonDetail.stats.stat.name}} : {{pokemonDetail.stats.base_stat}} "></label> -->
        </StackLayout>

        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal" style="width: 50%;">
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.front_default}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.back_default}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.front_shiny}}></Image>
                <Image stretch="aspectFit" src={{pokemonDetail.sprites.back_shiny}}></Image>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <!-- </ScrollView> -->
</Page>