<WrapLayout>
    <SearchBar hint="Insert the name of the pokemon." (textChange)="onTextChanged($event)" (submit)="onSubmit($event)"
        color="white" textFieldBackgroundColor="gray" textFieldHintColor="white">
    </SearchBar>
    <ScrollView orientation="vertical">
        <WrapLayout>
            <WrapLayout>
                <button *ngFor="let pkmn of searchedPoke" text="{{pkmn.name}}" (tap)="onTap(pkmn)"></button>
            </WrapLayout>
        </WrapLayout>
    </ScrollView>

</WrapLayout>