<WrapLayout horizontalAlignment="center">
    <StackLayout orientation="horizontal">
        <Button class="btn btn-primary" text="Previous" (tap)="loadPokemons('previous')" [isEnabled]="!loading"></Button>
        <Button class="btn btn-primary" text="Next" (tap)="loadPokemons('next')" [isEnabled]="!loading"></Button>
    </StackLayout>
    <ScrollView orientation="vertical">
        <StackLayout style="width: 80%;">
            <StackLayout *ngFor="let pokemon of pokemons; index as i">
                <Button class="btn btn-primary" text="{{countPokemon+i}} : {{pokemon.name}}" (tap)="seeDetail(pokemon)"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</WrapLayout>